.demo {
    margin-top: 75px;
    background: linear-gradient(90deg, rgba(15, 90, 183, 1) 49%, rgba(15, 87, 175, 1) 50%, rgba(10, 28, 43, 1) 52%, rgba(10, 23, 32, 1) 53%);

    .wrap {
        display: flex;

        .left,
        .right {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 32px 90px;

            h4.text {
                font-family: 'Libre Franklin';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
                text-align: center;
            }
        }

        .left {
            background: #0F5AB7;
            padding-left: 0;
        }

        .right {
            background: #0A1720;
            padding: 32px 155px;
        }

        .btn {
            width: max-content;
            margin: 0 auto;
            margin-top: 24px;
        }
    }

    &__name {
        text-align: center;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }


}