.use {
    margin-top: 192px;

    &__content {
        margin-top: 80px;
        display: flex;

        img {
            width: 600px;
            background: radial-gradient(40.5% 50% at 50% 50%, rgba(0, 72, 172, 0.1) 0%, rgba(0, 5, 13, 0) 100%);
        }
    }

    &__text {
        padding-top: 45px;
        margin-left: 64px;
        display: flex;
        flex-direction: column;

        span {
            margin-top: 40px;
            font-family: 'Libre Franklin';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;
        }

        a {
            font-family: 'Libre Franklin';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            margin-top: 28px;

            svg {
                margin-left: 10px;
            }
        }
    }

    &__items {
        display: flex;
        gap: 76px;
    }

    &__name {
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }

    &__val {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        color: #0080FF;
    }

    
}